/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

@use "sass:map";

$colors-table: (
  "light-silver": #aaa,
  "moon-gray": #ccc,
  "light-gray": #eee,
  "near-white": #f4f4f4,
  "black-10": rgba(0, 0, 0, .1),
  "white-10": rgba(255, 255, 255, .1),
) !default;

@mixin tables {
	.collapse {
	border-collapse: collapse;
	border-spacing: 0;
	}

	.striped--light-silver:nth-child(odd) {
	background-color: map.get($colors-table, "light-silver");
	}

	.striped--moon-gray:nth-child(odd) {
	background-color: map.get($colors-table, "moon-gray");
	}

	.striped--light-gray:nth-child(odd) {
	background-color: map.get($colors-table, "light-gray");
	}

	.striped--near-white:nth-child(odd) {
	background-color: map.get($colors-table, "near-white");
	}

	.stripe-light:nth-child(odd) {
	background-color: map.get($colors-table, "white-10");
	}

	.stripe-dark:nth-child(odd) {
	background-color: map.get($colors-table, "black-10");
	}
}
