/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

@use "sass:map";

$colors-table: (
  "light-silver": #aaa,
  "moon-gray": #ccc,
  "light-gray": #eee,
  "near-white": #f4f4f4,
  "black-10": rgba(0, 0, 0, .1),
  "white-10": rgba(255, 255, 255, .1),
) !default;

@mixin tables {
  .collapse {
    border-collapse: collapse;
    border-spacing: 0;
  }

  @each $name, $color in $colors-table {
    .striped--#{$name}:nth-child(odd) {
      background-color: $color;
    }
  }
}